*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown !important;
}
.card{
    width: 500px;
}
.card-title{
    padding-bottom: 10px;
}
.card-body a .fa{
    font-size: 30px;
}
.card-body a .fa:hover{
    color: green;
}